/.idea/
*.iml
/logs/
/target/
/LavalinkServer/application.yml
*/dependency-reduced-pom.xml
.gradle/*
build/*
*.jar
!gradle/wrapper/gradle-wrapper.jar
.project
.classpath
.settings
/Testbot/build/
/Testbot/out/
/plugin-api/build/
/plugin-api/out/
/protocol/build/
/protocol/out/
gradle.properties
application.yml
LavalinkServer/plugins
.cache/
site/
.DS_Store